.users{
    padding: 20px;
 }
 .user {
   display: flex;
   flex-wrap: wrap;
 }
 .use {
   border: 0.5px solid rgb(195, 191, 191);
   height: 200px;
   width: 200px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 20px;
   color: rgb(26, 96, 247);
 
 }