.si {
  display: flex;
  justify-content: center;

}
.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: conic-gradient(blueviolet,orangered ,rgb(115, 252, 17),orangered ,blueviolet); */

}

.div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 700px;
  width: 1400px;
  border-radius: 20px;
  box-shadow: 5px 5px 18px #000000, 15px 15px 18px rgba(0, 0, 0, 0.3);
}
.div1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.div2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background-color:aliceblue;
}

.b {
  background-color: rgb(39, 85, 252);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  display: flex;
  color: antiquewhite;
  font-size: large;
  margin-bottom: 20px;
  width: 150px;
}
.b:hover {
  background-color: rgb(57, 99, 251);
}

.alink {
  display: flex;
  justify-content: center;
}

img {
  height: 700px;
  width: 700px;
}

.fb {
  background-color: rgb(29, 62, 112);
  color: rgb(248, 242, 235);
  border-radius: 5px;
  border: none;
}

.fb:hover {
  background-color: rgb(53, 81, 122);
}
@media screen and (max-width: 1500px) {
  .div1 {
    width: 100%;
    height: 100vh;
    transition: 0.3s;
  }
  .div {
    width: 550px;
  }
}

@media screen and(min-width:765px) {
  .div1 {
 
    display: none;
    transition: 0.3s;
  }
}

